$color-primary: #4e82af;
$color-secondary: #3d5b74;
$color-orange: #f5a031;
$color-grey: #adadad;
$color-background: #d1eaff;
$color-background2: #afdbff;
$color-crema: #ffefd5;


$quick: "Quick";
$jersey: "Jersey";

$small-margin: 15px;
$medium-margin: 30px;
$big-margin: 60px;
$extra-big-margin: 120px;

$titulo-banner: 120px;
$subtitulo-banner: 40px;

$titulo: 45px;
$titulo2: 35px;
$subtitulo: 25px;