#block-catoira-theme-page-title{
    margin-top: $big-margin;
    margin-top: $big-margin;
    font-size: $titulo;
    font-weight: bold;
}
.actualidad{
    
    .row{
            
        grid-template-columns: auto auto auto;
        @media only screen and (max-width: 1500px) {
            grid-template-columns: auto auto;
            
        }
        @media only screen and (max-width: 500px) {
            grid-template-columns: auto;
            
        }
        gap: $medium-margin;
         display: grid;
        margin-bottom: $medium-margin;
    }
    .col{
        width: 100% !important;
        min-width: auto ;
        min-height: 220px;
        max-height: auto;
        background-color: $color-background;
        /*padding: $small-margin;*/
        text-align: center;
        padding: $small-margin;
        padding-top: $medium-margin;
        padding-bottom: $medium-margin;
        border-radius: 5px;
    }
    .col:hover{
        background-color: white;
    }
    .views-field-title{
        margin-top: $small-margin;
        font-size: $subtitulo;
        font-weight: bold;
    }
    .views-field-body{
        margin: $small-margin;
        padding-top: 5px;
        margin-top: 5px;
        border-top-color: $color-secondary;
        border-top-style: solid;
        border-top-width: 1px;
    }
    .views-field-field-imagen-principal img{
        aspect-ratio: 1/1;
        object-position: center;
        object-fit: cover;
    }
}

