div.general-barcos{
    background-color: $color-background2;
    padding-bottom: $small-margin;
    
    div.barcos{
        border-radius: 5px;
        width: 55%;
        background-color: $color-background;
        color: $color-secondary;
        padding: $extra-big-margin;
        padding-top: 0;
        margin-top: $medium-margin;
        margin-bottom: $medium-margin;

        #block-catoira-theme-page-title{
            color: $color-primary;
            margin-top: $medium-margin;
            span{
                font-size: $titulo;
            }
        }

        .field--name-field-subtitulo{
            font-size: $subtitulo;
            text-align: center;
            margin-bottom: $small-margin;
        }

        .field--name-field-imagen-principal{
            
            margin-bottom: $small-margin;
            img{
                width: 75%;
                margin-left: auto;
                margin-right: auto;
                display: block;
            }
        }

        .field--name-field-imagenes-secundarias{
            display: flex;
            margin-top: $small-margin;
            margin-bottom: $small-margin;
            .field__item{
                margin-right: $small-margin;
            }
        }

        .field--name-field-url{
            text-align: center;
            margin: $medium-margin;
            a{
                text-decoration: none;
                color: $color-background;
                background-color: $color-primary;
                padding: $small-margin;
                @include max-sm{
                    padding: 5px;
                }
            }
            @include max-sm{
                margin: 0;
                margin-bottom: 15px;

            }
        }

        .field--name-field-fecha-del-evento{
            text-align: end;
        }

        .node__meta{
            display: none;
        }

        .field--name-field-tipo-de-barco,
        .field--name-field-eslora{
            text-align: end;
        }

        @include max-sm{
            margin-top: 0;
            margin-bottom: 0;
            width: 100%;
            padding: 30px;
            .field--name-field-imagenes-secundarias{
                display: none;
            }
        }

    }
}

.pagina-barcos{
    text-align: center;
    --bs-gutter-x: 0;
    margin: 0;
    grid-template-columns: auto auto auto auto;
    @include max-lg{
        grid-template-columns: auto auto auto;
    }
    @include max-md{
        grid-template-columns: auto auto;
    }
    @include max-sm{
        grid-template-columns: auto;
    }
    justify-content: center;
    gap: $medium-margin;
    display: grid;
    margin: auto;
    margin-bottom: $big-margin;
    .col{
        width: 300px !important;
        min-height: 220px;
        max-height: auto;
        background-color: $color-background;
        padding: $small-margin;
        text-align: center;
        padding: $small-margin;
        padding-top: $medium-margin;
        padding-bottom: $medium-margin;
        border-radius: 5px;
        img{
            aspect-ratio: 1/1;
            object-fit: cover;
        }
    }
    .col:hover{
        background-color: white;
    }
    a{
        margin-top: $medium-margin;
        font-size: $subtitulo;
        font-weight: bold;
        text-decoration: none;
        color: $color-secondary;
   }
    
}
