div.container-fluid.breadcrumbs{
    --bs-gutter-x: 0rem;
    .field--name-field-imagen-banner{
        position: relative;
        img{
            object-fit: cover;
            width: 150%;
            height: 750px;
            filter: brightness(0.6);
        }
    }
    .field--name-field-banner-titulo{
        color: $color-crema;
        position: absolute;
        font-family: $jersey;
        top: 35vh;
        left: 20%;
        font-size: $titulo-banner;
        font-weight: bold;
    }
    .field--name-field-banner-subtitulo-{
        font-family: $jersey;
        color: $color-crema;
        position: absolute;
        top: 52vh;
        left: 20%;
        font-size: $subtitulo-banner;
        font-weight: bold;

    }
    

}

#block-catoira-theme-page-title h1{
    font-weight: bold;
}
footer.mt-auto{
    margin-top: $big-margin !important;
}

@media only screen and (max-width: 576px) {
    div.container-fluid.breadcrumbs{

        .field--name-field-banner-titulo{
            text-align: center;
            font-size: $movil-titulo-banner;
            top: 25vh;
            left: 5%;
        }
        .field--name-field-banner-subtitulo-{
            text-align: center;
            top: 45vh;
            left: 2%;
            font-size: $movil-subtitulo-banner;
        }
    }
}

