#block-views-block-barcos-barcos-en-los-que-trabajamos{
    margin-top: $big-margin;
    margin-bottom: $big-margin;
    h2{
        font-size: $titulo;
        font-weight: bold;
        text-align: center;
        margin-bottom: $small-margin;
    }
    .row{
        
        grid-template-columns: auto auto auto auto;
        gap: $medium-margin;
        display: grid;
    }
    .col{
        width: auto !important;
        min-height: 220px;
        max-height: auto;
        background-color: $color-background;
        /*padding: $small-margin;*/
        text-align: center;
        padding: $small-margin;
        padding-top: $medium-margin;
        padding-bottom: $medium-margin;
        border-radius: 5px;
    }
    .col:hover{
        background-color: white;
    }
    .views-field-title{
        margin-top: $small-margin;
        font-size: $subtitulo;
        font-weight: bold;
    }
    .views-field-body{
        margin: $small-margin;
        padding-top: 5px;
        margin-top: 5px;
        border-top-color: $color-secondary;
        border-top-style: solid;
        border-top-width: 1px;
    }
}