#block-views-block-noticias-actualidad-block-1{
    margin-top: $big-margin;
    margin-bottom: $big-margin;
    h2{
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        margin-bottom: $small-margin;
    }
    .row{
        
        grid-template-columns: auto auto auto auto;
        gap: $medium-margin;
        display: grid;
        justify-content: center;
    }
    .col{
        width: 300px !important;
        min-height: 220px;
        max-height: auto;
        background-color: $color-background;
        /*padding: $small-margin;*/
        text-align: center;
        padding: $small-margin;
        padding-top: $medium-margin;
        padding-bottom: $medium-margin;
        border-radius: 5px;
    }
    .col:hover{
        background-color: white;
    }
    .views-field-field-imagen-principal img{
        max-width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
        object-position: center;
      }
    }
    .views-field-title{
        margin-top: $small-margin;
        font-size: $subtitulo;
        font-weight: bold;
    }
    .views-field-body{
        margin: $small-margin;
        padding-top: 5px;
        margin-top: 5px;
        border-top-color: $color-secondary;
        border-top-style: solid;
        border-top-width: 1px;
    }
@media only screen and (max-width: 1220px) {
    #block-views-block-noticias-actualidad-block-1{
        .row{
            grid-template-columns: auto auto;
        }
    }
}

@media only screen and (max-width: 576px) {
    #block-views-block-noticias-actualidad-block-1{
        padding-left: $movil-medium-margin;
        padding-right: $movil-medium-margin;
        
        .row{
            grid-template-columns: auto;
            gap: $movil-medium-margin;

        }
        
    }
}