#block-views-block-noticias-actualidad-block-1{
    margin-top: $big-margin;
    margin-bottom: $big-margin;
    h2{
        font-size: $titulo;
        font-weight: bold;
        text-align: center;
        margin-bottom: $small-margin;
    }
    .row{
        
        grid-template-columns: auto auto auto auto;
        gap: $medium-margin;
        display: grid;
    }
    .col-3{
        width: auto !important;
        min-height: 220px;
        max-height: auto;
        background-color: $color-background;
        /*padding: $small-margin;*/
        text-align: center;
        padding: $small-margin;
        padding-top: $medium-margin;
        padding-bottom: $medium-margin;
        border-radius: 5px;
    }
    .col-3:hover{
        background-color: white;
    }
    .views-field-title{
        margin-top: $small-margin;
        font-size: $subtitulo;
        font-weight: bold;
    }
    .views-field-body{
        margin: $small-margin;
        padding-top: 5px;
        margin-top: 5px;
        border-top-color: $color-secondary;
        border-top-style: solid;
        border-top-width: 1px;
    }
}

@media only screen and (max-width: 900px) {
    #block-views-block-noticias-actualidad-block-1{
        padding-left: $movil-medium-margin;
        padding-right: $movil-medium-margin;
        h2{
            font-size: $movil-titulo;
        }
        .row{
            grid-template-columns: auto auto;
            gap: $movil-medium-margin;

        }
        .views-field-title{
            font-size: $movil-titulo2;
            font-weight: normal;
        }
        .views-field-body{
            border-top-width: 0px;
            display: none;
        }
    }
}