body{
    font-family: $quick;
    background-color: $color-background2;
    color: $color-secondary;
}

nav.navbar.navbar-expand-lg.navbar-dark.text-light.bg-dark{
    background-color: $color-primary !important;
    font-family: $quick;
    font-size: 20px;
    a{
        color: $color-crema;
    }
}

.view-frontpage {
    display: none;
}

.region-nav-additional{
    display: none;
}

.bg-secondary{
    background-color: $color-secondary !important;
}