<div id="aviso-legal">

    <hr>

    <div class="row post-footer">
            <div class="col"><a href="/contact">Contacto</a></div>
            <div class="col"><a href="/politica-privacidad-cookies">Política de privacidad y cookies</a></div>
            <div class="col"><a href="/aviso-legal">Aviso legal</a></div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            Astilleros Catoira 2022
        </div>
    </div>
</div>

